* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/fernando-gutierrez-1KKZVPi856g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;

}

.container {
    text-align: center;
    border: 3px solid white;
    color: white;
    margin: 30px;
    padding: 15px;
}

#quote {
    font-size: 2rem;
    font-style: italic;
}

#author {
    font-size: 1rem;
    margin: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    margin: 15px;
    padding: 10px;
    font-weight: 700;

    
}